@media (max-width: 979px) {
  .jumbotron {
    padding: 50px 0;
  }

  .jumbotron h1 {
    font-size: 75px;
  }

  .jumbotron p {
    font-size: 37px;
  }
}

@media (max-width: 767px) {
  section {
    padding-top: 5px;
    padding-bottom: 0;
  }

  h1 {
    font-size: 34.5px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24.5px;
  }

  h4 {
    font-size: 22px;
  }

  h1 small {
    font-size: 24.5px;
  }

  h2 small {
    font-size: 17.5px;
  }

  h3 small {
    font-size: 14px;
  }

  h4 small {
    font-size: 14px;
  }


  footer, .jumbotron {
    margin-left: -20px;
    margin-right: -20px;
    padding: 15px 0;
  }

  footer {
    padding: 0 0 10px;
  }

  footer p {
    font-size: 13px;
  }

  section .lead {
    font-size: 15px;
    line-height: 1.5;
  }

  .navbar-hash .brand {
    font-size: 23px;
  }

  .navbar-hash.navbar .btn-navbar {
    margin-top: 12px;
  }

  .navbar-hash .nav > li > a {
    font-size: 14px;
  }

  .navbar-hash .nav > li > a {
    padding: 10px 20px 11px;
  }

  .jumbotron {
    padding: 30px;
    text-shadow: 0 5px 10px rgba(0,0,0,.75), 0 0 30px rgba(0,0,0,.75);
  }

  .jumbotron h1 {
    font-size: 50px;
  }

  .subhead.jumbotron h1 {
    font-size: 38px;
  }

  .jumbotron p {
    font-size: 25px;
  }

  .subhead.jumbotron p {
    font-size: 19px;
  }

  .jumbotron .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}