@media (max-width: 979px) {
  .navbar .nav > li > a {
    font-weight: normal;
  }

  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 0 7px;
  }
}

@media (max-width: 767px) {
  section .page-header,
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24.5px;
  }

  h4 {
    font-size: 22px;
  }

  h1 small {
    font-size: 24.5px;
  }

  h2 small {
    font-size: 17.5px;
  }

  h3 small {
    font-size: 14px;
  }

  h4 small {
    font-size: 14px;
  }

  footer, .jumbotron {
    margin-left: -20px;
    margin-right: -20px;
    padding: 15px 0;
  }

  footer {
    padding: 0 0 10px;
  }

  footer p {
    font-size: 13px;
  }

  section .lead {
    font-size: 15px;
    line-height: 1.5;
  }

  .navbar-wrapper {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }

  .navbar-fixed-top .navbar-inner,
  .navbar-static-top .navbar-inner {
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }

  .navbar .brand {
    font-size: 22px;
  }

  .navbar .nav > li > a {
    font-size: 15px;
  }

  .jumbotron {
    padding: 20px;
    text-shadow: 0 5px 10px rgba(0,0,0,.75), 0 0 30px rgba(0,0,0,.75);
  }

  .jumbotron h1 {
    font-size: 50px;
  }

  .subhead.jumbotron h1 {
    font-size: 38px;
  }

  .jumbotron p {
    font-size: 25px;
  }

  .subhead.jumbotron p {
    font-size: 19px;
  }
}