    <div class="jumbotron">
      <div class="container">
        <h1>#Less</h1>
        <p class="lead">The Groovy Less Compiler</p>
        <div class="visible-phone">
          <p><a href="https://github.com/volcra/hash-less/zipball/master" class="btn btn-primary">Download</a> <a href="https://github.com/volcra/hash-less" class="btn">GitHub Project</a></p>
        </div>
        <div class="hidden-phone">
          <p>
            <a href="https://github.com/volcra/hash-less/zipball/master" class="btn btn-large btn-primary">Download</a>
            <a href="https://github.com/volcra/hash-less" class="btn btn-large">GitHub Project</a>
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span12">
          <section></section>

          <section>
            <div class="lead">
              <p><strong>#Less</strong> or Hash-Less is an implementation of the Less command line. It is written in Groovy and uses the core JavaScript compiler and Mozilla Rhino as libraries to compile the Less style sheet into CSS.</p>

              <p>Many of the compiler options available in NodeJS are being ported to the Groovy version.</p>

              <p><strong>#Less</strong> can be integrated as a Command Line Tool, JAR dependency and Maven or Gradle Plugins.</p>
            </div>
          </section>

          <section class="groovy">
              <div class="page-header">
                <h1>Groovy</h1>
              </div>
              <div class="row">
                <div class="span6 text-center">
                  <img src="img/groovy-logo.png" width="450px">
                </div>
                <div class="span6">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget interdum mi. Duis eget lacus sit amet lacus placerat ultricies nec in lorem. In felis mi, posuere imperdiet dignissim ut, tempus nec lectus. Sed auctor ante eu felis rhoncus feugiat. Nunc quis molestie nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce lacus lorem, lacinia sed vestibulum nec, ornare nec libero. Maecenas purus sapien, tristique sit amet imperdiet sed, posuere quis nibh.</p>
                </div>
            </div>
          </section>

          <section class="Less">
            <div class="page-header">
              <h1>Less</h1>
            </div>
            <div class="row">
              <div class="span6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget interdum mi. Duis eget lacus sit amet lacus placerat ultricies nec in lorem. In felis mi, posuere imperdiet dignissim ut, tempus nec lectus. Sed auctor ante eu felis rhoncus feugiat. Nunc quis molestie nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce lacus lorem, lacinia sed vestibulum nec, ornare nec libero. Maecenas purus sapien, tristique sit amet imperdiet sed, posuere quis nibh.</p>
              </div>
              <div class="span6 text-center">
                <img src="img/less-logo.png" width=="199" height="81">
              </div>
            </div>
          </section>

        </div>
      </div>
    </div>