    <div class="jumbotron subhead">
      <div class="container">
        <h1>Usage</h1>
        <p class="lead">How to get started.</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span12">
          <section>
            <div class="page-header">
              <h1>Getting Started</h1>
            </div>
            <p>You need first to get #Less, go to the <a href="#/download">Download</a> page for more information on how to install and set up #Less.</p>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="span12">
          <section>
            <div class="page-header">
              <h1>Getting Help</h1>
            </div>
            <p>Run #Less without any options or passing <code>-h</code> or <code>--help</code> to get help.</p>
            <pre class="screen">$>build\install\hash-less\bin\hash-less
usage: less [options]
Options
 -c,--compress       Compile the Less compressing the content.
 -h,--help           Print Help.
 -j,--join &lt;FILE&gt;    Before compiling, concatenate all scripts together in
                     the order they were
                     passed, and write them into the specified file.
                     Useful for building large projects.
 -o,--output &lt;DIR&gt;   Write out all compiled Less files into the specified
                     directory.
 -p,--print          Instead of writing out the Less as a file, print it
                     directly to stdout.</pre>
          </section>
        </div>
      </div>


      <div class="row">
        <div class="span12">
          <section>
            <div class="page-header">
              <h1>Command-Line Usage</h1>
            </div>
            <h2>Options</h2>
            <h3>-c,--compress</h3>
            <p>Compress will minify the compiled CSS.</p>
            <h3>-j,--join &lt;FILE&gt;</h3>
            <p>This is usefull for projects with multiple sources. Before compiling, the list of files will be joined togheter in the
              order they were passed.</p>
            <div class="alert alert-info">
              You may also use @import in your LESS style sheets to produce same effect.
            </div>
            <h3>-o,--output &lt;DIR&gt;</h3>
            <p>By default compiled CSS are written to the same location fo the LESS style sheet. To change that behavior use this option.</p>
            <h3>-p,--print</h3>
            <p>Write the compiled CSS to <code>stdout</code>.</p>
            <p>You may send the output to a file of your choice.</p>
            <pre><code class="bash">$>build\install\hash-less\bin\hash-less -p src\test\resources\test.less > test.css</code></pre>
            <h2>Sample File</h2>
            <p>This file is located at <code>${basedir}\src\test\resources\test.less</code>.
              Where basedir is the path where you unpacked the application.</p>
            <pre><code class="css">@base: #f938ab;

.box-shadow(@style, @c) when (iscolor(@c)) {
  box-shadow:         @style @c;
  -webkit-box-shadow: @style @c;
  -moz-box-shadow:    @style @c;
}
.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}
.box {
  color: saturate(@base, 5%);
  border-color: lighten(@base, 30%);
  div { .box-shadow(0 0 5px, 30%) }
}</code></pre>
            <p>Then execute the hash-less command. The option <code>-p</code> will instruct the command to
              print the result to the console.</p>
            <pre><code class="bash">$>build\install\hash-less\bin\hash-less -p src\test\resources\test.less</code></pre>
            <p>This will compile the source file test.less and produce the following output.</p>
            <pre><code class="css">.box {
  color: #fe33ac;
  border-color: #fdcdea;
}
.box div {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}</code></pre>
          </section>
        </div>
      </div>

    </div>

    <script type="text/javascript">
      $('code').each(function (i, el) { hljs.highlightBlock(el); });
    </script>