<div class="jumbotron subhead">
  <div class="container">
    <h1>Download</h1>
    <p class="lead">Get #Less</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span12">
      <section>
        <div class="page-header">
          <h1>Prerequisites</h1>
        </div>
        <p>Java 7 is required to build and run #Less.</p>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <section>
        <div class="page-header">
          <h1>Get the code</h1>
        </div>
        <div class="alert alert-error">
          #Less is in development and it may change continuosly until it reaches a GA version.
        </div>
        <p>Currently the only way to get it downloading the source from
          <img src="img/octocat-icon.png" width="28" height="23"> <a href="https://github.com/volcra/hash-less">GitHub</a>.</p>
        <pre><code hljs class="bash">git clone git://github.com/volcra/hash-less.git</code></pre>
        <p>Or just download the <a href="https://github.com/volcra/hash-less/zipball/master">ZIP</a> and exract in a directory of your choice.</p>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <section>
        <div class="page-header">
          <h1>Install</h1>
        </div>
        <p>Gradle is used as build tool. The Gradle wrapper is provided for quick development. Gradle will be automatically
          downloaded and used to run the build.</p>
        <h2>Windows</h2>
        <p>In Windows the batch script is called <code>gradlew.bat</code>.</p>
        <pre><code hljs class="bash">gradlew installApp</code></pre>
        <h2>Unix</h2>
        <p>In Unix the batch script is <code>gradlew</code>.</p>
        <pre><code hljs class="bash">gradle installApp</code></pre>
        <p>The <code>installApp</code> task is provided by the application plugin. This will create the executable with all
          the dependencies in the directory <code>${basedir}\build\install\hash-less</code>.</p>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <section>
        <div class="page-header">
          <h1>Verify</h1>
        </div>
        <p>Execute the command and you should expect the following output.</p>
        <pre class="screen">$>build\install\hash-less\bin\hash-less
usage: less [options]
Options
-c,--compress       Compile the Less compressing the content.
-h,--help           Print Help.
-j,--join &lt;FILE&gt;    Before compiling, concatenate all scripts together in
                    the order they were
                    passed, and write them into the specified file.
                    Useful for building large projects.
-o,--output &lt;DIR&gt;   Write out all compiled Less files into the specified
                    directory.
-p,--print          Instead of writing out the Less as a file, print it
                    directly to stdout.</pre>

        <p>Now you are ready to head to the <a href="#/usage">Usage</a> page.</p>
      </section>
    </div>
  </div>

</div>
